// Background colors
$body-background-color: #f3f8f9;
$navbar-background-color: transparent;
$navbar-item-hover-background-color: transparent;

// Colors
$primary: #f76b52;
$secondary: #bdd9dc;
$text: #000;
$navbar-item-hover-color: $text;

// Fonts
$family-primary: 'Inter', sans-serif;